<div class="card card-modal-usuarios ">
  <div class="card-header {{ headerColor }}" mat-dialog-title>
    <span class="card-header-title" #ModalTitle id="title"> </span>
  </div>
  <div class="card-body" mat-dialog-content>
    <form
      #ModalUsuarioForm="ngForm"
      id="ngForm"
      (ngSubmit)="ModalUsuarioForm.valid && save(ModalUsuarioForm)"
    >
      <div class="p-grid p-justify-between">
        <div class="p-col-12">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              [(ngModel)]="modalValues.nome"
              #ModalValueNome="ngModel"
              matInput
              type="text"
              name="modalCadastro-nome"
              required
            />
          </mat-form-field>
        </div>
        <div class="p-col-12">
          <mat-form-field appearance="outline">
            <mat-label>Email principal</mat-label>
            <input
              [(ngModel)]="modalValues.emailPrincipal"
              #ModalValueEmailPrincipal="ngModel"
              matInput
              type="email"
              email
              name="modalCadastro-emailPrincipal"
              required
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-9">
          <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input
              [(ngModel)]="modalValues.celular"
              #ModalValueCelular="ngModel"
              matInput
              type="text"
              name="modalCadastro-celular"
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Usuario Ativo?</mat-label>
            <mat-select [(ngModel)]="modalValues.ativo"
            #ModalValueAtivo="ngModel" name="modalCadastro-ativo">
              <mat-option value=true>
                sim
              </mat-option>
              <mat-option value=false>
                não
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-col-12" *ngIf="!data">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              [(ngModel)]="modalValues.senha"
              #ModalValueSenha="ngModel"
              matInput
              type="password"
              name="modalCadastro-senha"
              required
            />
          </mat-form-field>
        </div>
        <div class="p-col-12" *ngIf="data">

          <button
                mat-raised-button
                class="btn btn-warning"
                (click)="mudarSenha()"
                >
                <!-- [disabled]="!allowEdit" -->
                Mudar Senha
              </button>

   <!--        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input
              [(ngModel)]="modalValues.senha"
              #ModalValueSenha="ngModel"
              matInput
              type="password"
              name="modalCadastro-senha"
              required
            />
          </mat-form-field> -->
        </div>
        <div class="p-col-12 p-md-9">
          <mat-form-field appearance="outline">
            <mat-label>Observacoes</mat-label>
            <textarea
              [(ngModel)]="modalValues.observacoes"
              #ModalValueObservacoes="ngModel"
              matInput
              type="text"
              name="modalCadastro-observacoes"
            >
            </textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer" mat-dialog-actions>
    <button mat-raised-button class="btn btn-danger" mat-dialog-close>
      Cancelar
    </button>
    <button mat-raised-button class="btn btn-success" form="ngForm">
      Salvar
    </button>
  </div>
</div>
