ion-content {
  --background: var(--ion-color-arteconecta-green);
}

.login-holder {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .login-holder-img {
    // margin: 2em;
    width: 50%;
    margin-top: 0;
    //    border-radius: 30px;
    //    border-style: solid;
  }
  .login-holder-form {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 12rem;

    .login-holder-form-email {
      border-radius: 30px;
    }
    .login-holder-form-password {
      border-radius: 30px;
      .login-holder-form-password-toogle {
        position: absolute;
        right: 0px;
        top: 10px;
        transform: rotate(90deg);
        z-index: 9;
      }
    }
  }
  .login-holder-fab {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .login-holder-fab-button {
      width: 100%;
      color: #fff;
      &.google {
        --background: #ea4335;
      }
      &.facebook {
        --background: #3b5998;
      }
    }
  }
}

.save-user {
  --background: transparent;
  --color: #ffffff;
}



::ng-deep .alert-head {
  text-align: center;
}