
.centerDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 50%;
    .card-header {
      margin-top: -40px;
      text-align: center;
      /* font-weight: bold; */
      font-size: 2em;
      font-family: Exo;
      display: flex;
      justify-content: center;
      align-items: center;
      .card-header-title {
        margin-top: 0 !important;
      }
    }
    .card-footer{
      .btn{
        width: 100%;
      }
    }
  }
}

