<div class="centerDiv">
  <div class="card">
    <div class="card-header card-header-info">
      <span class="card-header-title" #loginTitle id="card-title-login"> </span>
    </div>
    <div class="card-body">
      <form #loginForm="ngForm" id="ngForm" (ngSubmit)="login(loginForm)">
        <div class="p-grid p-justify-between">
          <div class="p-col-12">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                [(ngModel)]="userObj.email"
                #loginFormUsername="ngModel"
                matInput
                type="email"
                name="userObj-email"
                email
                required
              />
            </mat-form-field>
          </div>
          <div class="p-col-12">
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input
                [(ngModel)]="userObj.password"
                #loginFormPassword="ngModel"
                matInput
                type="password"
                name="userObj-senha"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <!--       <button
        mat-raised-button
        class="btn btn-danger"
        *ngIf="!fullEnvironment.production"
        (click)="test()"
      >
        test
      </button> -->

      <button mat-raised-button class="btn btn-success" form="ngForm">
        Entrar
      </button>
    </div>
  </div>
</div>
