@import '../../../scss/mixins';
.home-page-holder {
  .home-list {
    transition: 1s;
    background-color: transparent;
    padding: 0;
  }
  .cardVideo {
    margin: 0;
    padding: 1em 1em 0 1em;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    .cardVideo-like-button {
      position: absolute;
      right: 1%;
      top: 1%;
      .cardVideo-like-button-icon {
        color: #fff;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
        display: block;
        position: relative;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        text-shadow: 0px 1px 0px #000;
        filter: dropshadow(color=#000, offx=0px, offy=1px);
        border-radius: 5px;
      }
      &:after {
        content: "";
        height: 100%;
        width: 100%;
        padding: 4px;
        position: absolute;
        bottom: -15px;
        left: -4px;
        z-index: -1;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
    .cardVideo-previewHolder {
      @include centerAll;
      padding: 1em 1em 0 1em;
      .cardVideo-previewHolder-image {
        border-radius: 15px;
        height: 15em;
        width: 100%;
      }
      .cardVideo-previewHolder-icon {
        position: absolute;
        font-size: 3em;
        color: red;
      }
    }

    .cardVideo-header {
      text-align: center;
      color: #ffffff;
      filter: drop-shadow(-3.464px 2px 0px rgba(0, 0, 0, 0.39));
      .cardVideo-header-title {
        --color: #fff;
        @include rowdies($isBold: true);
        font-size: 1.6em;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
    .cardVideo-content {
      padding: 0;
      @include roboto;
      font-style: normal;
      .cardVideo-grid {
        .cardVideo-grid-objectives {
          font-size: 1.3rem;
          .cardVideo-grid-objectives-title {
            text-transform: uppercase;
            font-size: 1.1rem;
            letter-spacing: 1px;
            line-height: 31px;
            color: #ffffff;
            display: flex;
            align-items: center;
            .cardVideo-grid-objectives-title-icon {
              width: 1.1em;
            }
            .cardVideo-grid-objectives-title-text {
              margin-left: 0.2em;
              @include roboto($isBlack: true);
            }
          }
          .cardVideo-grid-objectives-list {
            font-size: 0.8em;
            color: #ffffff;
            @include roboto();
            display: flex;
            flex-direction: column;
            // max-height: 100px;
            overflow-y: scroll;
            span {
              @include roboto();
            }
          }
        }
        .cardVideo-grid-details {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 1.1rem;

          .cardVideo-grid-details-holder {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding-bottom: 1em;
            .cardVideo-grid-details-holder-icon {
              width: 1.6em;
            }
            .cardVideo-grid-details-holder-text {
              @include rowdies();
              margin-left: 0.5em;
              color: #fefdfd;
              width: 70%;
            }
          }
        }
        .cardVideo-grid-footer {
          color: #ffffff;
          ion-text {
            h3 {
              @include roboto($isLight: true, $isItalic: true);
            }
          }
        }
      }
      .cardVideo-videoAula {
        height: 100%;
        .cardVideo-videoAula-text {
          text-align: center;
          height: 4.5em;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          position: relative;
          color: #fff;
          padding: 0 2em;
          font-size: 1.1em;
          @include roboto();
          margin-bottom: 1em;
          &:after {
            content: "...";
            background: inherit;
            position: absolute;
            bottom: 0px;
            right: 5px;
            top: 28px;
            font-size: 2em;
          }
        }
        ion-text {
          text-align: center;
          color: #fff;
        }
      }
    }
  }

  .card-resultNotFound {
    box-shadow: 6px 6px 3px 0px #00000087;
    ion-card-header {
      text-align: center;
    }
  }
}
.loader {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-fab {
  .fab-button {
    transition: 500ms;
    transition-timing-function: ease-in-out;
    z-index: -1;
    --background: transparent;
    --box-shadow: none;
    transform: scale3d(1, 1, 1);
    &.active {
      --background: url("https://firebasestorage.googleapis.com/v0/b/arteconecta-27292.appspot.com/o/background%2Ffundo-tela-principal-v2.jpg?alt=media&token=ba1f73af-d86b-40f8-b0f6-e59f4dad1f36")
        round;
      transform: scale3d(30, 30, 1);
    }
  }
}
::ng-deep .infinite-loading {
  --color: #ffffff;
  .infinite-loading-text {
    color: #fff !important;
  }
}
