<ion-header mode="md">
  <ion-toolbar class="ion-text-center" color="arteconecta-default">
    <ion-buttons slot="start" *ngIf="!userInfo.novoUsuario">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edite suas Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="UserEditPage">
  <app-loader *ngIf="isLoading"></app-loader>
  <form
    #userInfoForm="ngForm"
    id="ngForm"
    (ngSubmit)="userInfoForm.valid && save(userInfoForm)"
  >
    <div class="p-grid" *ngIf="!isLoading">
      <div class="p-col-12" id="userInfo-nome">
        <ion-item>
          <ion-label position="floating">
            Nome Completo
            <ion-text color="dark">*</ion-text></ion-label
          >
          <ion-input
            required
            #UserInfoNome="ngModel"
            name="userInfo-nome"
            [(ngModel)]="userInfo.nome"
            type="text"
          ></ion-input>
        </ion-item>
      </div>
      <div class="p-col-12" id="userInfo-emailPrincipal">
        <ion-item>
          <ion-label position="floating">
            Email Principal
            <ion-text color="dark">*</ion-text></ion-label
          >
          <ion-input
            required
            #UserInfoEmailPrincipal="ngModel"
            name="userInfo-emailPrincipal"
            [(ngModel)]="userInfo.emailPrincipal"
            type="email"
            email
            required
          ></ion-input>
        </ion-item>
      </div>
      <div class="p-col-12" id="userInfo-celular">
        <ion-item>
          <ion-label position="floating">
            Celular <ion-text color="dark">*</ion-text></ion-label
          >
          <ion-input
            #UserInfoCelular="ngModel"
            name="userInfo-celular"
            [(ngModel)]="userInfo.celular"
            type="tel"
            required
          ></ion-input>
        </ion-item>
      </div>
      <div class="p-col-12" id="userInfo-profissao">
        <ion-item>
          <ion-label position="floating"> Profissão <ion-text color="dark">*</ion-text></ion-label>

          <ion-select
            [interfaceOptions]="selectProfissao"
            interface="popover"
            #UserInfoProfissao="ngModel"
            name="userInfo-profissao"
            [(ngModel)]="userInfo.profissao"
        
          >
            <ion-select-option
              *ngFor="let item of profissaoArr"
              [value]="item.value"
              >{{item.name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </div>
      <div
        class="p-col-12"
        id="userInfo-profissao-outro"
        *ngIf="userInfo.profissao === 'Outros'"
      >
        <ion-item>
          <ion-label position="floating"> Informe sua profissão<ion-text color="dark">*</ion-text> </ion-label>
          <ion-input
            #UserInfoProfissaoOutro="ngModel"
            name="userInfo-profissao-outro"
            [(ngModel)]="userInfo.outraProfissao"
            type="text"
          ></ion-input>
        </ion-item>
      </div>
      <div class="p-col-12" id="userInfo-dt_nascimento">
        <ion-item>
          <ion-label position="floating">
            Data de nascimento
            <ion-text color="dark">*</ion-text></ion-label
          >
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            #UserInfoDtNascimento="ngModel"
            name="userInfo-dt_nascimento"
            [(ngModel)]="userInfo.dt_nascimento"
            required
          >
          </ion-datetime>
        </ion-item>
      </div>
      <div class="p-col-12" id="userInfo-sexo">
        <ion-item>
          <ion-label position="floating">Sexo <ion-text color="dark">*</ion-text></ion-label>
          <ion-select
            [interfaceOptions]="selectSexo"
            interface="popover"
            #UserInfoSexo="ngModel"
            name="userInfo-sexo"
            [(ngModel)]="userInfo.sexo"
            required
          >
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Feminino">Feminino</ion-select-option>
            <ion-select-option value="Outro">Outro</ion-select-option>
            <ion-select-option value="prefere não informar"
              >prefere não informar</ion-select-option
            >
          </ion-select>
        </ion-item>
      </div>
      <div class="p-col-12" id="userInfo-endereco_cidade">
        <ion-item>
          <ion-label position="floating"> Cidade <ion-text color="dark">*</ion-text> </ion-label>
          <ion-input
            #UserInfoEnderecoCidade="ngModel"
            name="userInfo-endereco_cidade"
            [(ngModel)]="userInfo.endereco_cidade"
            type="text"
            required
          ></ion-input>
        </ion-item>
      </div>
      <div class="p-col-6" id="userInfo-endereco_uf">
        <ion-item>
          <ion-label position="floating"> Estado(UF) <ion-text color="dark">*</ion-text> </ion-label>
          <ion-input
            #UserInfoEnderecoUF="ngModel"
            name="userInfo-endereco_uf"
            maxlength="2"
            [(ngModel)]="userInfo.endereco_uf"
            type="text"
            required
          ></ion-input>
        </ion-item>
      </div>
      <div class="p-col-6" id="userInfo-endereco_pais">
        <ion-item>
          <ion-label position="floating"> País (onde mora) <ion-text color="dark">*</ion-text> </ion-label>
          <ion-input
            #UserInfoEnderecoPais="ngModel"
            name="userInfo-endereco_pais"
            [(ngModel)]="userInfo.endereco_pais"
            type="text"
            required
          ></ion-input>
        </ion-item>
      </div>
      <div class="p-col-12">
        <ion-item>
          <ion-label>Deseja receber notícias nossas? <ion-text color="dark">*</ion-text></ion-label>
          <ion-toggle
            mode="ios"
            #UserInfoPodeEnviarNotificacao="ngModel"
            name="userInfo-podeEnviarNotificacao"
            [(ngModel)]="userInfo.podeEnviarNotificacao"
          ></ion-toggle>
        </ion-item>
      </div>
      <div class="p-col-12">
        <ion-button
          expand="block"
          color="arteconecta-green"
          type="submit"
          [disabled]="!userInfoForm.valid"
        >
          Salvar alterações
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
