.header {
  --background: var(--ion-color-arteconecta-blue);
  --color: #fff;
}
.UserEditPage {
  /* --background: #d2d2d2; */

  --background: url("https://firebasestorage.googleapis.com/v0/b/arteconecta-27292.appspot.com/o/background%2Ffundo-tela-principal-v2.jpg?alt=media&token=ba1f73af-d86b-40f8-b0f6-e59f4dad1f36");
  background-size: cover;
  background-repeat: repeat-y;
  ion-item {
    --background: transparent;
    --color: #000000;
    ion-label {
      --color: var(--ion-color-light)
    }
  }
}
