<div class="splash" [@zoomInOnEnter] [@bounceOutOnLeave] *ngIf="showSplash"> 
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>


<ion-app>
  <ion-split-pane contentId="main-content" [disabled]="true">
    <ion-menu contentId="main-content" type="overlay" menuId="mainMenu" swipeEnabled="false">
      <ion-header>
        <ion-toolbar class="header">
          <ion-title>Menu</ion-title>
          <!--           <ion-icon slot="icon-only" name="close"></ion-icon> -->
        </ion-toolbar>
      </ion-header>
      <ion-content class="menu-holder">
        <ion-list class="ion-padding menu-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of arrBtn">
            <ion-item (click)="goTo(p)" class="menu-list-item">
              <ion-label class="menu-list-item-label">
                {{ p.name }}
              </ion-label>
              <ion-icon slot="end" [name]="p.icon" class="menu-list-item-icon"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>