@import "../scss/mixins";
ion-menu {
  --background: #111;
}
::ng-deep ion-modal {
  /* padding: 1em; */
  .modal-wrapper {
    // border-radius: 1em !important;
  }
}

.header {
  --background: url("https://firebasestorage.googleapis.com/v0/b/arteconecta-27292.appspot.com/o/background%2Ffundo-tela-principal-v2.jpg?alt=media&token=ba1f73af-d86b-40f8-b0f6-e59f4dad1f36") round;
  // --background: var(--ion-color-arteconecta-blue);
  --color: #fff;
}
.menu-holder {
/*   --background: linear-gradient(
    to bottom,
    #a45555,
    #ab6847,
    #a67f40,
    #959748,
    #7aad63
  ); */
--background: #ffffff;
  .menu-list {
    background: transparent;
    padding: 0;
    .menu-list-item {
      --color: #000000;
      --background: transparent;
      text-transform: capitalize;
      .menu-list-item-label {
        font-weight: bold;
      }
      .menu-list-item-icon {
        color: #fff;
      }
    }
  }
}

.splash {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #7aad63;
  .sk-folding-cube {
    margin: 20px auto;
    width: 20vw;
    height: 20vw;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    .sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: #a45555; */
        background-image: linear-gradient(to left, #a45555, #a95466, #a95579, #a35a8d, #9761a1);
        -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }
    }
    .sk-cube2 {
      -webkit-transform: scale(1.1) rotateZ(90deg);
      transform: scale(1.1) rotateZ(90deg);
      &:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }
    }
    .sk-cube3 {
      -webkit-transform: scale(1.1) rotateZ(180deg);
      transform: scale(1.1) rotateZ(180deg);
      &:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }
    }
    .sk-cube4 {
      -webkit-transform: scale(1.1) rotateZ(270deg);
      transform: scale(1.1) rotateZ(270deg);
      &:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
      }
    }
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%,
    75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%,
    100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  @keyframes sk-foldCubeAngle {
    0%,
    10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }
    25%,
    75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }
    90%,
    100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
}
