<div class="main-content" [@objetivoEnter]="{ value: '', params: { delay: 0 } }">
  <div class="container-fluid">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h3 class="card-title">Lista de Objetivos</h3>
            <div class="buttons-control">
              <button
                mat-raised-button
                class="btn btn-success"
                (click)="addNewItem()"
              >
                <i class="material-icons">add</i>
              </button>
              <button
                mat-raised-button
                class="btn btn-danger"
                (click)="deleteItem()"
                [disabled]="!(selectedRows.length > 0)"
                style="background-color: black; "
              >
                <i class="material-icons">remove</i>
              </button>
              <button
                mat-raised-button
                class="btn btn-warning"
                (click)="editItem()"
                [disabled]="!allowEdit"
              >
                <i class="material-icons">edit</i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <mat-form-field appearance="outline">
              <mat-label>Digite algo para pesquisar</mat-label>
              <input
                [(ngModel)]="filtro"
                name="header-search"
                type="search"
                matInput
              />
            </mat-form-field>
            <app-grid
              [gridData]="objetivoArr"
              [columnDefs]="createColumnDefs"
              [filtro]="filtro"
              (GridSelectedRow)="onGridSelectedRow($event)"
              (GridDobleClick)="onGridDobleClick($event)"
            ></app-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div ></div>
