<div class="centerDiv">
  <div class="card">
    <div class="card-header card-header-info">
      <span class="card-header-title" id="card-title-notification"> </span>
    </div>
    <div class="card-body">
      <form (ngSubmit)="sendNotification()" #form="ngForm">
        <div class="p-grid">
          <div class="p-col-12" style="text-align: center">
 <!--            <mat-slide-toggle
              *ngIf="!emProd"
              name="prodSlideValue"
              [(ngModel)]="prodSlideValue"
              (ngModelChange)="onProdSlideChange()"
              >{{prodSlidetext}}
            </mat-slide-toggle> -->
            <br>
            <mat-button-toggle-group
              name="enviar para quem as notificações"
              aria-label="Font Style"
              [(ngModel)]="sendToWho"
            >
            <mat-button-toggle value="teste"
                >Modo Teste</mat-button-toggle
              >
              <mat-button-toggle value="para todos"
                >Todos usuarios</mat-button-toggle
              >
              <mat-button-toggle value="especifico"
                >Especifico</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
          <div class="p-col-12" *ngIf="sendToWho === 'especifico'">
            <mat-label style="font-weight: bold"> Lista de usuarios </mat-label>
            <mat-select-autocomplete
              aria-label="seletor de Atividades"
              placeholder="Selecione o usuario"
              selectPlaceholder="Selecione o usuario"
              appearance="outline"
              [options]="userList"
              [display]="'nome'"
              [value]="'id'"
              [multiple]="false"
              [labelCount]="2"
              [selectedOptions]="selectedUser"
              (selectionChange)="onUserSelection($event)"
            >
            </mat-select-autocomplete>
          </div>
          <div class="p-col-12">
            <mat-form-field appearance="outline">
              <mat-label>Titulo da notificação</mat-label>
              <input
                [(ngModel)]="notification.pushMessage.title"
                #notificationTitle="ngModel"
                matInput
                type="text"
                name="notification-title"
                required
              />
            </mat-form-field>
          </div>
          <div class="p-col-12">
            <mat-form-field appearance="outline">
              <mat-label>Texto da notificação</mat-label>
              <textarea
                [(ngModel)]="notification.pushMessage.body"
                #notificationBody="ngModel"
                matInput
                type="text"
                name="notification-body"
                required
              >
              </textarea>
            </mat-form-field>
          </div>
          <div class="p-col-12">
            <mat-form-field appearance="outline">
              <mat-label>url de imagem(opicional)</mat-label>
              <input
                [(ngModel)]="notification.pushMessage.icon"
                #notificationIcon="ngModel"
                matInput
                type="text"
                name="notification-icon"
              />
            </mat-form-field>
          </div>
          <div class="p-col-12" style="text-align: center;">
            <button type="submit" block="true" class="btn btn-success">
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
