.card-notification-holder{
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  justify-content: center;
  align-self: center;
  .card-notification{
    width: 50%;
  }
}




.centerDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 50%;
    .card-header {
      text-align: center;
      /* font-weight: bold; */
      font-size: 2em;
      font-family: Exo !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-footer{
      .btn{
        width: 100%;
      }
    }
  }
}

