:root {
    --ion-color-arteconecta-magenta: #a45555;
    --ion-color-arteconecta-magenta-rgb: 164,85,85;
    --ion-color-arteconecta-magenta-contrast: #ffffff;
    --ion-color-arteconecta-magenta-contrast-rgb: 255,255,255;
    --ion-color-arteconecta-magenta-shade: #904b4b;
    --ion-color-arteconecta-magenta-tint: #ad6666;

    --ion-color-arteconecta-green: #7aad63;
    --ion-color-arteconecta-green-rgb: 122,173,99;
    --ion-color-arteconecta-magenta-contrast: #ffffff;
    --ion-color-arteconecta-magenta-contrast-rgb: 255,255,255;
    --ion-color-arteconecta-green-shade: #6b9857;
    --ion-color-arteconecta-green-tint: #87b573;

    --ion-color-arteconecta-blue: #6974e4;
    --ion-color-arteconecta-blue-rgb: 105,116,228;
    --ion-color-arteconecta-blue-contrast: #ffffff;
    --ion-color-arteconecta-blue-contrast-rgb: 255,255,255;
    --ion-color-arteconecta-blue-shade: #5c66c9;
    --ion-color-arteconecta-blue-tint: #7882e7;

    --ion-color-arteconecta-default: #f7f7f7;
    --ion-color-arteconecta-default-rgb: 247,247,247;
    --ion-color-arteconecta-default-contrast: #da6c66;
    --ion-color-arteconecta-default-contrast-rgb: 218, 108, 102;
    --ion-color-arteconecta-default-shade: #d9d9d9;
    --ion-color-arteconecta-default-tint: #f8f8f8;
  }

    
  .ion-color-arteconecta-magenta {
    --ion-color-base: var(--ion-color-arteconecta-magenta);
    --ion-color-base-rgb: var(--ion-color-arteconecta-magenta-rgb);
    --ion-color-contrast: var(--ion-color-arteconecta-magenta-contrast);
    --ion-color-contrast-rgb: var(--ion-color-arteconecta-magenta-contrast-rgb);
    --ion-color-shade: var(--ion-color-arteconecta-magenta-shade);
    --ion-color-tint: var(--ion-color-arteconecta-magenta-tint);
  }
  
  .ion-color-arteconecta-green {
    --ion-color-base:var(--ion-color-arteconecta-green);
    --ion-color-base-rgb:var(--ion-color-arteconecta-green-rgb);
    --ion-color-contrast:var(--ion-color-arteconecta-magenta-contrast);
    --ion-color-contrast-rgb:var(--ion-color-arteconecta-magenta-contrast-rgb);
    --ion-color-shade:var(--ion-color-arteconecta-green-shade);
    --ion-color-tint:var(--ion-color-arteconecta-green-tint);
  }
  
  .ion-color-arteconecta-blue {
    --ion-color-base: var(--ion-color-arteconecta-blue);
    --ion-color-base-rgb: var(--ion-color-arteconecta-blue-rgb);
    --ion-color-contrast: var(--ion-color-arteconecta-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-arteconecta-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-arteconecta-blue-shade);
    --ion-color-tint: var(--ion-color-arteconecta-blue-tint);
  }


  .ion-color-arteconecta-default {
    --ion-color-base: var(--ion-color-arteconecta-default);
    --ion-color-base-rgb: var(--ion-color-arteconecta-default-rgb);
    --ion-color-contrast: var(--ion-color-arteconecta-default-contrast);
    --ion-color-contrast-rgb: var(--ion-color-arteconecta-default-contrast-rgb);
    --ion-color-shade: var(--ion-color-arteconecta-default-shade);
    --ion-color-tint: var(--ion-color-arteconecta-default-tint);
  }