@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 300;
  src: local('Rowdies Light'), local('Rowdies-Light'), url(assets/Rowdies/Rowdies-Light.ttf) format('truetype'), url(assets/Rowdies/Rowdies-Light.woff2) format('woff2'), url(assets/Rowdies/Rowdies-Light.woff) format('woff');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url(assets/Rowdies/Rowdies.eot);
  src: local('Rowdies'), local('Rowdies Regular'), local('Rowdies-Regular'), url(assets/Rowdies/Rowdies.eot?#iefix) format('embedded-opentype'), url(assets/Rowdies/Rowdies.ttf) format('truetype'), url(assets/Rowdies/Rowdies.svg#Rowdies) format('svg'), url(assets/Rowdies/Rowdies.woff2) format('woff2'), url(assets/Rowdies/Rowdies.woff) format('woff');
}

@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: local('Rowdies Bold'), local('Rowdies-Bold'), url(assets/Rowdies/Rowdies-Bold.ttf) format('truetype'), url(assets/Rowdies/Rowdies-Bold.woff2) format('woff2'), url(assets/Rowdies/Rowdies-Bold.woff) format('woff');
}

