/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~sweetalert2/dist/sweetalert2.css";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';


@import "./scss/primeFlex";
@import "./scss/toastSweetAlert";
@import "./scss/nebular-gradiente-hero";
@import "./scss/customCss";
@import "./scss/material-dashboard.scss";
@import "./scss/expandableSearch";
@import "./scss/loaderAnimation";

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Exo',
);
@include mat-base-typography($custom-typography);
 .main-content {
  font-family: Exo !important;
  background-color: #d3d3d3;
  height: calc(100vh - 57px);
}

 :host {
  font-family:Exo !important;
 }
 /* width */
 ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}
