<app-header
  nomeDaPagina="Home"
  (TabChange)="segmentChanged($event)"
  [isAtHome]="true"
  (searchOutput)="onSearchtextChange($event)"
  (isSearchBarVisible)="searchBarCondition = $event"
></app-header>

<div class="loader" *ngIf="showLoad" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <app-loader></app-loader>
</div>
<ion-content [scrollEvents]="true">
  <ion-fab vertical="center" horizontal="center" slot="fixed" class="modal-fab">
    <ion-fab-button
      class="fab-button"
      [class.active]="fabButton.isActive"
      (click)="fabButton.isActive = !fabButton.isActive"
    >
    </ion-fab-button>
  </ion-fab>
  <div class="home-page-holder" *ngIf="!showLoad">
    <!--     <div style="background-color: #dddddd">
      <input
        type="tel"
        [textMask]="{mask: masks.phoneNumber}"
        [(ngModel)]="phoneNumber"
        placeholder="Awesome Input"
      >
    </div> -->

    <ion-list class="home-list" #container>
      <ng-container
        *ngFor="let atividadeObj of displayList; let origin = index;"
      >
        <ion-card
          class="cardVideo"
          *ngIf="changeShowList(showOnlyFavorite, atividadeObj, origin) "
          [@fadeInUpOnEnter]
          [@fadeOutOnLeave]
        >
          <div class="cardVideo-like-button">
            <ion-icon
              *ngIf="!isFavorite(atividadeObj)"
              name="heart-outline"
              class="cardVideo-like-button-icon"
              (click)="onFavorite(atividadeObj, true)"
            >
            </ion-icon>
            <ion-icon
              *ngIf="isFavorite(atividadeObj)"
              name="heart"
              class="cardVideo-like-button-icon"
              (click)="onFavorite(atividadeObj, false)"
            ></ion-icon>
          </div>
          <div
            class="cardVideo-previewHolder"
            (click)="openModal(atividadeObj, false)"
          >
            <img
              class="cardVideo-previewHolder-image"
              (error)="isImgAvailable($event, atividadeObj)"
              [src]="atividadeObj.imagem"
            />
          </div>
          <ion-card-header
            class="cardVideo-header"
            (click)="openModal(atividadeObj, false)"
          >
            <ion-card-title class="cardVideo-header-title"
              >{{atividadeObj.titulo}}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content
            class="cardVideo-content"
            (click)="openModal(atividadeObj, false)"
          >
            <ion-grid
              fixed
              class="cardVideo-grid"
              *ngIf="atividadeObj.tipo !== 'VideoAula'"
            >
              <ion-row class="cardVideo-grid">
                <ion-col size="6" class="cardVideo-grid-objectives">
                  <div class="cardVideo-grid-objectives-title">
                    <img
                      [src]="config.iconsFromFirebase.objetivo"
                      class="cardVideo-grid-objectives-title-icon"
                    />
                    <span class="cardVideo-grid-objectives-title-text">
                      Objetivos
                    </span>
                  </div>
                  <div class="cardVideo-grid-objectives-list">
                    <span *ngFor="let objetivo of atividadeObj.lista_objetivo">
                      {{objetivo}}
                    </span>
                  </div>
                </ion-col>
                <ion-col size="6" class="cardVideo-grid-details">
                  <div>
                    <div class="cardVideo-grid-details-holder">
                      <img
                        class="cardVideo-grid-details-holder-icon"
                        [src]="config.iconsFromFirebase.faixaEtaria"
                      />
                      <span class="cardVideo-grid-details-holder-text">
                        {{getMinMaxMaturidade(atividadeObj)}}
                      </span>
                    </div>
                    <div class="cardVideo-grid-details-holder">
                      <!-- <i class="fas fa-users"></i> -->
                      <img
                        class="cardVideo-grid-details-holder-icon"
                        [src]="config.iconsFromFirebase.individuo"
                      />
                      <span class="cardVideo-grid-details-holder-text">
                        Individual
                      </span>
                    </div>
                    <div class="cardVideo-grid-details-holder">
                      <!-- <i class="fas fa-male"></i> -->
                      <img
                        class="cardVideo-grid-details-holder-icon"
                        [src]="config.iconsFromFirebase.pais"
                      />
                      <span class="cardVideo-grid-details-holder-text">
                        Indicado para os pais
                      </span>
                    </div>
                  </div>
                </ion-col>
                <ion-col
                  size="12"
                  class="ion-text-center cardVideo-grid-footer"
                >
                  <ion-text>
                    <h3>
                      ©2020 Arte Ação Brasil. Todos os Direitos Reservados.
                    </h3>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div
              class="cardVideo-videoAula"
              *ngIf="atividadeObj.tipo !== 'Proposta'"
            >
              <span
                class="cardVideo-videoAula-text"
                [innerHtml]="atividadeObj.descricao"
              >
              </span>
              <ion-text>
                <h3>©2020 Arte Ação Brasil. Todos os Direitos Reservados.</h3>
              </ion-text>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>
      <ion-card
        class="card-resultNotFound"
        [@fadeInDownOnEnter]
        [@hingeOnLeave]
        *ngIf="!showLoad && displayList.length === 0"
      >
        <ion-card-header>
          <ion-card-title>Resultados não encontrados</ion-card-title>
          <ion-card-subtitle
            >Reveja o que pesquisou e tente novamente</ion-card-subtitle
          >
        </ion-card-header>
      </ion-card>
    </ion-list>
    <!--     <ion-infinite-scroll
      threshold="100px"
      (ionInfinite)="loadNewAtividades($event)"
      *ngIf="showInfiniteScroll()"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        color="light"
        loadingText="Carregando mais atividades..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </div>
</ion-content>
<ion-footer>
  <div style="min-height: 8vh">
    <app-tabs (TabChange)="showWichList($event)"></app-tabs>
  </div>
</ion-footer>
