<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <div>
      <app-sidebar></app-sidebar>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="min-height: 100vh;">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
