/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import "./scss/customToast";
@import "./scss/arteconecta-colors";
@import "./scss/primeFlex";
@import "./scss/mixins";

ion-toolbar {
    --background: var(--ion-color-arteconecta-blue);
    --color: white;
}

ion-content {

    background: url("https://firebasestorage.googleapis.com/v0/b/arteconecta-27292.appspot.com/o/background%2Ffundo-tela-principal-v2.jpg?alt=media&token=ba1f73af-d86b-40f8-b0f6-e59f4dad1f36") round;
    --background: url("https://firebasestorage.googleapis.com/v0/b/arteconecta-27292.appspot.com/o/background%2Ffundo-tela-principal-v2.jpg?alt=media&token=ba1f73af-d86b-40f8-b0f6-e59f4dad1f36") round;
}
