<div class="card card-modal-atividades">
  <div class="card-header {{ headerColor }}" mat-dialog-title>
    <span class="card-header-title" #ModalTitle id="title"> </span>
  </div>
  <div class="card-body" mat-dialog-content>
    <form
      #ModalAtividadeForm="ngForm"
      id="ngForm"
      (ngSubmit)="ModalAtividadeForm.valid && save(ModalAtividadeForm)"
    >
      <div class="p-grid p-align-center p-justify-center">
        <div class="p-col-12">
          <mat-form-field appearance="outline">
            <mat-label> Titulo</mat-label>
            <input
              [(ngModel)]="modalValues.titulo"
              #ModalValueTitulo="ngModel"
              matInput
              name="modalCadastro-titulo"
              required
            />
          </mat-form-field>
        </div>
        <div class="p-col-12">
          <mat-label>Descrição*</mat-label>
          <quill-editor
            [(ngModel)]="modalValues.descricao"
            #ModalValueDescricao="ngModel"
            name="modalCadastro-descricao"
            required
          ></quill-editor>
        </div>
        <div class="p-col-12 p-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="modalValues.tipo" name="tipo">
              <mat-option
                *ngFor="let tiposProposta of tiposPropostaLista"
                [value]="tiposProposta"
              >
                {{ tiposProposta }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Maturidade minima</mat-label>
            <input
              [(ngModel)]="modalValues.maturidadeMin"
              #ModalValueMaturidadeMin="ngModel"
              matInput
              type="number"
              min="1"
              max="100"
              name="modalCadastro-maturidadeMin"
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Maturidade maxima</mat-label>
            <input
              [(ngModel)]="modalValues.maturidadeMax"
              #ModalValueMaturidadeMax="ngModel"
              matInput
              type="number"
              min="1"
              max="100"
              name="modalCadastro-maturidadeMax"
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Participantes</mat-label>
            <mat-select
              [(ngModel)]="modalValues.numeroParticipantes"
              name="participantes"
            >
              <mat-option
                *ngFor="let participantesObj of participantesObjLista"
                [value]="participantesObj"
              >
                {{ participantesObj }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>GRÁTIS</mat-label>
            <mat-select
              [(ngModel)]="modalValues.free"
              #ModalValueFree="ngModel"
              name="modalCadastro-free"
              (ngModelChange)="test($event)"
            >
              <mat-option [value]="true"> Sim </mat-option>
              <mat-option [value]="false"> Não </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Indicado Pais?</mat-label>
            <mat-select
              [(ngModel)]="modalValues.indicacaopais"
              #ModalValueIndicacaoPais="ngModel"
              name="modalCadastro-indicacaopais"
              (ngModelChange)="test($event)"
            >
              <mat-option [value]="true"> Sim </mat-option>
              <mat-option [value]="false"> Não </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Revisado?</mat-label>
            <mat-select
              [(ngModel)]="modalValues.revisao"
              #ModalValueRevisado="ngModel"
              name="modalCadastro-revisao"
              (ngModelChange)="test($event)"
            >
              <mat-option [value]="true"> Sim </mat-option>
              <mat-option [value]="false"> Não </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Publicado?</mat-label>
            <mat-select
              [(ngModel)]="modalValues.publicado"
              #ModalValuePublicado="ngModel"
              name="modalCadastro-publicado"
              (ngModelChange)="test($event)"
            >
              <mat-option [value]="true"> Sim </mat-option>
              <mat-option [value]="false"> Não </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Imagem</mat-label>
            <input
              [(ngModel)]="modalValues.imagem"
              #ModalValueImagem="ngModel"
              matInput
              name="modalCadastro-imagem"
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>VideoUrl</mat-label>
            <input
              [(ngModel)]="modalValues.videourl"
              #ModalValueVideoUrl="ngModel"
              matInput
              name="modalCadastro-videourl"
            />
          </mat-form-field>
        </div>

        <div class="p-col-12" *ngIf="selectLists.atividades.length !== 0">
          <mat-label style="font-weight: bold">
            Propostas relacionadas</mat-label
          >
          <mat-select-autocomplete
            aria-label="seletor de Atividades"
            placeholder="Selecione as Atividades"
            selectPlaceholder="Selecione as Atividades"
            appearance="outline"
            [options]="selectLists.atividades"
            [display]="'name'"
            [value]="'id'"
            [multiple]="true"
            [labelCount]="2"
            [selectedOptions]="modalValues.lista_atividade"
            (selectionChange)="selectedAtividade($event)"
          >
          </mat-select-autocomplete>
          <mat-chip-list aria-label="lista de atividades">
            <mat-chip
              color="primary"
              *ngFor="let item of modalValues.lista_atividade"
            >
              {{ renderSelectedItems(item, 1).name }}
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="p-col-12" *ngIf="selectLists.material.length !== 0">
          <mat-label style="font-weight: bold"> Lista de materiais </mat-label>
          <mat-select-autocomplete
            aria-label="seletor de Materiais"
            placeholder="Selecione os materiais"
            selectPlaceholder="Selecione os materiais"
            appearance="outline"
            [options]="selectLists.material"
            [display]="'name'"
            [value]="'id'"
            [multiple]="true"
            [labelCount]="2"
            [selectedOptions]="modalValues.lista_material"
            (selectionChange)="selectedMaterial($event)"
          >
          </mat-select-autocomplete>
          <mat-chip-list aria-label="lista de materiais">
            <mat-chip
              color="primary"
              *ngFor="let item of modalValues.lista_material"
            >
              {{ renderSelectedItems(item, 2).name }}
              <!--         <i class="fas fa-times" matChipRemove></i> -->
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="p-col-12" *ngIf="selectLists.objetivo.length !== 0">
          <mat-label style="font-weight: bold"> Lista de Objetivos</mat-label>
          <mat-select-autocomplete
            aria-label="seletor de Objetivos"
            placeholder="Selecione os objetivos"
            selectPlaceholder="Selecione os objetivos"
            appearance="outline"
            [options]="selectLists.objetivo"
            [display]="'name'"
            [value]="'id'"
            [multiple]="true"
            [labelCount]="2"
            [selectedOptions]="modalValues.lista_objetivo"
            (selectionChange)="selectedObjetivo($event)"
          >
          </mat-select-autocomplete>
          <mat-chip-list aria-label="lista de objetivo">
            <mat-chip
              color="warn"
              *ngFor="let item of modalValues.lista_objetivo"
            >
              {{ renderSelectedItems(item, 3).name }}
              <!--         <i class="fas fa-times" matChipRemove></i> -->
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer" mat-dialog-actions>
    <button mat-raised-button class="btn btn-danger" mat-dialog-close>
      Cancelar
    </button>
    <button mat-raised-button class="btn btn-success" form="ngForm">
      Salvar
    </button>
  </div>
</div>
