.card-modal-atividades {
  padding: 0 1em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 13%;
  width: calc(100% - 390px);
  .card-header {
    text-align: center;
    align-items: center;
    justify-content: center;
    .card-header-title {
      font-weight: bold;
      font-size: 1.3rem;
    }
    .nav-tabs-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .nav-tabs {
        display: flex;
        justify-content: center;
      }
    }
  }

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}

textarea:focus {
  transition: 1s ease;
  height: 10em !important;
}
  .card-footer{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #b1b1b1;
    margin: 0;
    padding: 0;
  }
}
