.header-holder {
  color: #fff;
  /* background-color: #36096d; */
  background-image: linear-gradient(315deg, #a45555 0%, #6974e4 70%);
  .header-menu-icon {
    color: #fff;
    margin-right: 1em;
    font-size: 2rem;
    &:hover{
      cursor: pointer;
      animation-name: enlarge-and-decrease;
      animation-duration: 0.8s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
  }
}
  .header-title {
    font-family: "Exo" !important;
    &:hover{
      cursor: pointer;
      animation-name: enlarge-and-decrease;
      animation-duration: 0.8s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
  }

  @keyframes enlarge-and-decrease {
    0%{
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
    50%{
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    100%{
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
}
