<mat-toolbar class="header-holder">
  <mat-toolbar-row>
    <div
      class="header-menu-icon"
      *ngIf="showMenuButton"
      (click)="openSideMenu()"
      [@flipOnEnter]
      [@hingeOnLeave]
    >
      <mdb-icon fas icon="bars"></mdb-icon>
    </div>
    <span class="header-title" (click)="test()">Arte Conecta</span>
  </mat-toolbar-row>
</mat-toolbar>
