<!-- 
<ion-header mode="md" collapse="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
    </ion-buttons>
    <ion-title>{{ videoObj.titulo }}</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [class.videoOnly]="showVideo">
  <div class="modal-card-header">
    <span class="modal-card-header-text">
      <!--  {{videoObj.titulo}} -->
    </span>
    <div class="modal-card-header-btn">
      <ion-button (click)="close()" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div *ngIf="showVideo; else textArea">
    <iframe
      [src]="getTrustedURl()"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      style="width: 100%; height: 200px"
    ></iframe>
  </div>

  <ng-template #textArea>
    <div class="modal-card-container" *ngIf="videoObj.videourl">
      <!-- (click)="changeToVideo()" -->
      <div class="modal-card-previewHolder">
        <iframe
          class="modal-card-previewHolder-videoUrl"
          [src]="getTrustedURl()"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          style="width: 100%; height: 200px"
        ></iframe>
      </div>
      <div class="modal-card-header-title">{{ videoObj.titulo }}</div>
      <ion-grid
        fixed
        class="modal-card-grid"
        *ngIf="videoObj.tipo !== 'VideoAula'"
      >
        <ion-row class="modal-card-grid">
          <ion-col size="6" class="modal-card-grid-objectives">
            <div class="modal-card-grid-objectives-title">
              <img
                [src]="config.iconsFromFirebase.objetivo"
                class="modal-card-grid-objectives-title-icon"
              />
              <span class="modal-card-grid-objectives-title-text">
                Objetivos
              </span>
            </div>
            <div class="modal-card-grid-objectives-list">
              <span *ngFor="let objetivo of videoObj.lista_objetivo">
                {{ objetivo }}
              </span>
            </div>
          </ion-col>
          <ion-col size="6" class="modal-card-grid-details">
            <div class="modal-card-grid-details-holder">
              <img
                class="modal-card-grid-details-holder-icon"
                [src]="config.iconsFromFirebase.faixaEtaria"
              />
              <span class="modal-card-grid-details-holder-text">
                {{ getMinMaxMaturidade() }}
              </span>
            </div>
            <div class="modal-card-grid-details-holder">
              <!-- <i class="fas fa-users"></i> -->
              <img
                class="modal-card-grid-details-holder-icon"
                [src]="config.iconsFromFirebase.individuo"
              />
              <span class="modal-card-grid-details-holder-text">
                Individual
              </span>
            </div>

            <div class="modal-card-grid-details-holder">
              <!-- <i class="fas fa-male"></i> -->
              <img
                class="modal-card-grid-details-holder-icon"
                [src]="config.iconsFromFirebase.pais"
              />
              <span class="modal-card-grid-details-holder-text">
                Indicado para os pais
              </span>
            </div>
          </ion-col>
          <!--           <ion-col size="12" class="ion-text-center modal-card-grid-footer">
          </ion-col> -->
        </ion-row>
      </ion-grid>
      <div class="modal-card-text-container">
        <ion-text class="modal-card-text-description" *ngIf="!isProposta()">
          <img [src]="config.iconsFromFirebase.descricao" />
          <div>
            {{ this.videoObj.descricao }}
          </div>
        </ion-text>
        <ion-text class="modal-card-text-description" *ngIf="isProposta()">
          <img [src]="config.iconsFromFirebase.descricao" />
          <span
            class="cardVideo-videoAula-text"
            [innerHtml]="videoObj.descricao"
          >
          </span>
        </ion-text>
        <ion-text
          class="modal-card-text-materialList"
          *ngIf="videoObj.lista_material !== undefined"
        >
          <img [src]="config.iconsFromFirebase.materiais" />
          <div>
            <span *ngFor="let item of videoObj.lista_material; let i = index">
              {{ item }}
              <span *ngIf="i < videoObj.lista_material.length - 1">, </span>
            </span>
          </div>
          <!--       {{dataSrv.DecodeMateriaisList(videoObj.lista_material)}} -->
        </ion-text>
      </div>
      <div class="modal-card-container-footer">
        <span class="modal-card-container-footer-text">
          ©2020 Arte Ação Brasil. Todos os Direitos Reservados.
        </span>
      </div>
    </div>
  </ng-template>
</ion-content>
