<app-header nomeDaPagina=" Sua conta" [isAtHome]="false"></app-header>

<div class="loader" *ngIf="showLoad" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <app-loader></app-loader>
</div>
<ion-content>
  <div class="user-box-container">
    <div class="user-box">
      <span class="user-box-name">{{userData.nome}}</span>
      <span class="user-box-email">{{userData.emailPrincipal}}</span>
      <span class="user-box-premium">Versão Free</span>
      <ion-button color="arteconecta-default" class="user-box-button" (click)="navCtrl.navigateForward('userInfo/userDetail')">
        Mudar dados
      </ion-button>
      <ion-button color="arteconecta-default" class="user-box-button" (click)="navCtrl.navigateRoot('/home')">
        Voltar
      </ion-button>
    </div>
  </div>
</ion-content>
