@import "../../scss/mixins";
$headerDefaultSize: 2.5em;
$textDefaultSize: 1.2em;
.button-Skip {
    --border-width: 0;
    position: absolute;
    z-index: 99;
    right: 0;
    --color: transparent;
    top: 1%;
    &.thirdSplashScreen{
        
        --color: white; 
      }
/*     &.finalSplashScreen{
      --background: white;
      --color: black; 
    } */
}

/* .backgroundSlide1 {
    --background: url("https://firebasestorage.googleapis.com/v0/b/arteconecta-27292.appspot.com/o/background%2FfundoTutorial1.jpg?alt=media&token=f0d6379e-28b9-41d3-bb35-fd162fa2589f")
        round;
}
.backgroundSlide2 {
    --background: url("https://firebasestorage.googleapis.com/v0/b/arteconecta-27292.appspot.com/o/background%2FfundoTutorial2.jpg?alt=media&token=e83eb5cf-ea85-4ce5-976e-7ec82375577f")
        round;
}
.backgroundSlide3 {
    --background: url("https://firebasestorage.googleapis.com/v0/b/arteconecta-27292.appspot.com/o/background%2FfundoTutorial3.jpg?alt=media&token=cf9a0272-1858-4fd5-b8de-624b053975ee")
        round;
}
.backgroundSlide4 {
    --background: url("https://firebasestorage.googleapis.com/v0/b/arteconecta-27292.appspot.com/o/background%2FfundoTutorial4.jpg?alt=media&token=6ecae1ea-8ef1-4cdc-8d2d-990dab6198a6")
        round;
} */

.slideHolder {
    height: 100vh;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}
/*     --color: #3880ff;
    --keyboard-offset: 0px;
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 0px; */
