<ion-content
>
<!-- [class.backgroundSlide1]="position === 0"
[class.backgroundSlide2]="position === 1"
[class.backgroundSlide3]="position === 2"
[class.backgroundSlide4]="position === 3" -->

  <ion-button 
  (click)="jumpToLogin()" 
  class="button-Skip"
  [class.thirdSplashScreen]="position === 2"
  [class.finalSplashScreen]="position === 3"
  fill="outline">
    {{btnText}}
  </ion-button>
  <ion-slides
    pager="true"
    #landindPageSlide
    (ionSlideDidChange)="startEnd($event)"
    [options]="slideOpts"
  >
    <ion-slide *ngFor="let slide of slideArr">
      <!-- class="slideHolder" [class.startSlide]="position === 0" -->
      <div class="slideHolder">
      <img [src]="slide.img" *ngIf="slide.img">
 <!--        <div class="slideHolderText" [class.startSlide]="position === 0">
          <h1 class="header">
            {{slide.header}}
          </h1>
          <p class="text1">{{slide.text1}}</p>
          <p class="text2">{{slide.text2}}</p>
        </div> -->
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
