.checkout{
    .checkout-confirm-text{

    }
    .checkout-value-card{
    .checkout-value-card-content{
        &.blueish{
            background-image: linear-gradient(to left bottom, #6974e4, #7a83ea, #8a93ef, #9ba2f4, #abb2f9);
       }
       &.greenish{
        background-image: linear-gradient(to left top, #7aad63, #88b474, #96bb85, #a3c196, #b1c8a7);
       }
       &.redish{
        background-image: linear-gradient(to left top, #a45555, #ae6262, #b76f6f, #c07d7c, #c98a8a);
       }
        .checkout-value-card-div{
            justify-content: center;
            width: 100%;
            min-height: 8em;
            display: flex;
            align-items: center;
            color: var(--ion-color-light);
            flex-direction: column;
        }
    }
    }
    .checkout-advantadges-list{
        .checkout-advantadges-list-header{
        /*     --background: #ffffff;
            --border-color: #3880ff;
            --border-style: solid;
            --border-width: 8px;
            --color: #3880ff;
            --inner-border-width: 2px; */
        }
        .checkout-advantadges-list-item{
            .checkout-advantadges-list-item-text{

            }
        }
    }
}

