<ion-header>
  <ion-toolbar
    class="ion-text-center home-header"
    style="--background: var(--ion-color-arteconecta-blue);--color: white;"
  >
    <ion-title>
      <div
        style="text-overflow: inherit; white-space: normal; text-align: center; "
      >
        Confirma tal ação?
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="checkout">
  <ion-text class="checkout-confirm-text">
    <p style="padding: 0 16px;">
      Você confirma que quer assinar os serviços premium?
    </p>
  </ion-text>
  <ion-card class="checkout-value-card">
    <ion-card-content class="checkout-value-card-content greenish">
      <div class="checkout-value-card-div">
        <h2>Valor:</h2>
        <h1>
          R$ 16,90
        </h1>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-list class="checkout-premium-list">
    <ion-list-header>
      <ion-label>
        <ion-text color="primary">
          <h3>
            <b>
              Você ganhará acesso à:
            </b>
          </h3>
        </ion-text>
      </ion-label>
    </ion-list-header>
    <ion-item
      class="checkout-advantadges-list-item"
      *ngFor="let advantage of vantagens"
    >
      <ion-label class="ion-text-wrap checkout-advantadges-list-item-text">
        <ion-icon name="chevron-forward"></ion-icon>
        {{ advantage }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
  <ion-toolbar
    style="--background: var(--ion-color-arteconecta-blue);--color: white;"
  >
  <div style="display: flex;justify-content: space-between;">
    <ion-button expand="block" shape="round" color="danger"
    (click)="close()"
    >
      cancelar
    </ion-button>
    <ion-button expand="block" shape="round"
    (click)="makePayment()"
    >
      Confirmar
    </ion-button>     
  </div>
  </ion-toolbar>
</ion-footer>
