@import "../../scss/mixins";
ion-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em 1em 1em 1em;
  height: 100%;
  text-align: center;
  align-items: center;
  .text-holder{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    p {
      @include roboto();
      font-size: 1.1em;
      &.about-text {
        text-align: left;
      }
      &.special-text {
        padding: 0 3em;
        text-transform: uppercase;
        text-align: left;
      }
    }
    .citacao {
      font-style: italic;
      font-weight: bold;
      color: #d3d3d3;
      text-align: end;
    padding: 0 4em;
    }
    .website{
      font-size: 1.3em;
      margin-top: 2em;
    }
  }
  .back-button{
    color: #d96963;
    @include roboto();
    --background: #f8f8f8;
    width: 80%;
  }

  .footer {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
  }
}
