<div class="search-container">
  <input
    class="search expandright"
    [id]="inputId"
    type="search"
    [disabled]="!disabled"
    [(ngModel)]="value"
    [name]="inputName"
    placeholder="Digite para pesquisar"
  />
  <label
    [class.disabled]="!disabled"
    class="button searchbutton"
    [for]="inputId"
  >
    <span class="mglass">
      <i class="fas fa-search"></i>
    </span>
  </label>
</div>
