$color_1: white;
$color_2: black;
$background_color_1: #444;
$background_color_2: white;

.button {
  display: inline-block;
  margin: 4px 2px;
  font-size: 14px;
  padding-left: 32px;
  padding-right: 32px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: $color_1;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;

    border-radius: 50%;
    background-color: $background_color_2;
    color: $color_2;
  }
}
.search-container {
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
  z-index: 99;
}
.mglass {
  display: inline-block;
  pointer-events: none;
  /* 	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); */
}
.searchbutton {
  position: absolute;
  font-size: 22px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.search {
  &:focus {
    & + .searchbutton {
      transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      &:hover {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        /*     border-color: #999999;
        border-width: 3px;
        border-left-color: transparent;
        border-style: solid; */
      }
      background-color: $background_color_2;
      color: $color_2;
    }
    width: 35vw !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 16px 0 0;
  }
  position: absolute;
  left: 49px;
  background-color: $background_color_2;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}
.expandright {
  left: auto;
  right: 100%;
  &:focus {
    padding: 0 0 0 16px;
  }
}
