

<div class="p-grid">
  <div class="p-lg-6 p-md-6 p-sm-6" *ngFor="let stats of data">
    <div class="card card-stats">
      <div class="card-header {{stats.cor}} card-header-icon">
        <div class="card-icon">
          <i [class]="stats.icone"></i>
        </div>
        <h4 class="card-category">
          {{stats.titulo}}
        </h4>
        <h3 class="card-title">
          {{ stats.valor }}
          <!-- <small>GB</small> -->
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">

        </div>
      </div>
    </div>
  </div>
</div>
