@import "../../../scss/mixins";
.header-container {
  .header-toolbar {
    border-bottom-style: solid;
    border-bottom-color: #a6d79d;
    border-bottom-width: 1.3px;
    padding-top: 0.5em;
    .header-toolbar-container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .header-menu-button-container {
        color: #e66e60;
        padding-right: 3px;
      }
      .header-image-container {
        @include centerAll;
        img {
          width: 60%;
        }
        &.atHome {
          img {
            width: 70%;
          }
        }
      }
    }
  }
  .header-toolbar-text {
    ion-title {
      text-align: center;
      .header-text-container {
        color: #e66e60;
        text-transform: uppercase;
        @include rowdies($isBold:true);
        font-style: normal;
      }
    }
  }
  .header-toolbar-buttons {
    .header-button-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      .button-text {
        color: #e66e60;
        text-transform: uppercase;
        @include rowdies($isBold:true);
      }
    }
  }
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.2em;
  color: #e66e60;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      background-color: #81b06f;
    }
  }
  &:hover {
    input ~ .checkmark {
      background-color: #81b06f;
    }
  }
  .checkmark {
    position: absolute;
    top: 25px;
    left: 0;
    height: 20%;
    width: 100%;
    /*   */
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.search-toolbar {
  position: absolute;
  z-index: 11;
  --background: #ffffff;
  ion-searchbar {
    --color: #000000;
    --background: #fff;
    --box-shadow: 0px;
    --icon-color: #e66e60;
    div {
      input {
        font-size: 1.3em;
      }
    }
  }
}

/* ion-searchbar {
  --background: #3880ff;
  --border-radius: 2px
  --box-shadow: 2px;
  --cancel-button-color: #3880ff;
  --clear-button-color: #3880ff;
  --color: #3880ff;
  --icon-color: #3880ff;
  --placeholder-color: #3880ff;
  --placeholder-font-style: initial;
  --placeholder-font-weight: initial;
  --placeholder-opacity 0.5;
} */
