<ion-header class="header-container">
  <ion-toolbar color="arteconecta-default" class="header-toolbar">
    <div class="header-toolbar-container">
      <ion-buttons slot="start" class="header-menu-button-container">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="header-image-container" [class.atHome]="isAtHome">
        <img src="assets\headerLogo.png" />
      </div>
      <ion-buttons
        slot="end"
        class="header-menu-button-container"
        (click)="showSearchBar()"
        *ngIf="isAtHome"
      >
        <ion-icon slot="icon-only" name="search"></ion-icon>
        <!-- <ion-icon name="search"></ion-icon> -->
      </ion-buttons>
    </div>
  </ion-toolbar>
  <ion-toolbar
    class="search-toolbar"
    *ngIf="isSearchActive"
    [@zoomInOnEnter]
    [@zoomOutUpOnLeave]
  >
    <ion-searchbar
      animated
      debounce="500"
      type="search"
      #searchBar
      (ionChange)="onValueChange()"
      (ionClear)="clearSearch($event)"
      [(ngModel)]="searchValue"
      class="searchbarinput"
      placeholder="Pesquise"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar
    color="arteconecta-default"
    class="header-toolbar-text"
    *ngIf="!isAtHome; else homeToolbar"
  >
    <ion-title>
      <span class="header-text-container">
        {{ nomeDaPagina }}
      </span>
    </ion-title>
  </ion-toolbar>
  <ng-template #homeToolbar>
    <ion-toolbar color="arteconecta-default" class="header-toolbar-buttons">
      <div class="header-button-container">
        <label class="container button-text"
          >Favoritos
          <input
            type="radio"
            value="favoriteList"
            [(ngModel)]="selectedTab"
            (ngModelChange)="changeTab($event)"
            name="radio"
          />
          <span class="checkmark"></span>
        </label>
        <label class="container button-text"
          >Listar Todas
          <input
            type="radio"
            value="allList"
            [(ngModel)]="selectedTab"
            (ngModelChange)="changeTab($event)"
            checked="true"
            name="radio"
          />
          <span class="checkmark"></span>
        </label>
      </div>
    </ion-toolbar>
  </ng-template>
</ion-header>
