<div class="card card-modal-objetivos">
  <div class="card-header {{ headerColor }}" mat-dialog-title>
    <span class="card-header-title" #ModalTitle id="title"> </span>
  </div>
  <div class="card-body" mat-dialog-content>
    <form
      #ModalObjetivoForm="ngForm"
      id="ngForm"
      (ngSubmit)="ModalObjetivoForm.valid && save(ModalObjetivoForm)"
    >
      <div class="p-grid p-justify-between">
        <div class="p-col-12">
          <mat-form-field appearance="outline">
            <mat-label>Objetivo</mat-label>
            <input
              [(ngModel)]="modalValues.objetivo"
              #ModalValueObjetivo="ngModel"
              matInput
              type="text"
              name="modalCadastro-objetivo"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer" mat-dialog-actions>
    <button mat-raised-button class="btn btn-danger" mat-dialog-close>
      Cancelar
    </button>
    <button mat-raised-button class="btn btn-success" form="ngForm">
      Salvar
    </button>
  </div>
</div>
