<div class="sidebar-holder">
  <div class="card">
    <div class="card-header card-header-primary">
      Menu
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li href="#" class="list-group-item waves-light" mdbWavesEffect (click)="isLogOut(links)"
          [routerLink]="[links.path]" *ngFor="let links of arrPagesLinks">
          <i [class]="links.icon"></i> {{links.name}}
        </li>
      </ul>
       <button type="button" class="btn btn-outline-primary" style="margin-left: 10px;"
        (click)="cargaService.processarCargas()">Importar</button>
    </div>
  </div>
</div>
