.sidebar-holder {
  height: 100vh;
  background-color: #e8e8e8;

  .card {
    background-color: transparent;
    margin: 0;
    padding-top: 44px;
    box-shadow: 0px 10px 35px 0px black;
    .card-header {
      text-align: center;
      font-family: Exo;
    }
    .card-body {
      //min-height: calc(100vh - 96px);
      padding-left: 0;
      .list-group {
        .list-group-item {
          border-radius: 20px;
          font-size: 1.3em;
          &:hover {
           // background-color: #6974e4;
           color: #fff;
           font-weight: bold;
           background-image: linear-gradient(315deg, #a45555 0%, #6974e4 70%);
           //border-color: #6974e4;
          }
        }
      }
    }
  }
}
