@import '../../../scss/mixins';
.card-creditCard-resume {
  .roundHeaderShape {
    display: flex;
    justify-content: center;
    ion-icon {
      color: #fff;
      position: absolute;
      font-size: 60em;
      top: 8%;
      &:before {
        display: inline;
      }
    }
  }
  background: transparent;
  margin: 0;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  .card-creditCard-resume-edit {
    position: absolute;
    left: 77%;
    --background: transparent;
    --box-shadow: 0px;
    --color: #ffffff;
    --opacity: 1;
    --transition: background-color 15ms linear;
    font-size: 1.8em;
  }
  .card-creditCard-resume-avatar {
    text-align: center;
    margin: 0.7em;
    img {
      height: 11em;
      width: 11em;
      border-radius: 90px;
    }
    ion-icon{
      color: lightgray;
      font-size: 11em;
      filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, .7));
    }
    
    
    }
  
  .card-creditCard-resume-header {
    text-align: center;
    padding: 0;
    .card-creditCard-resume-header-title {
      font-family: "Neutra Text";
      color: #000;
      font-size: 2em;
    }
    .card-creditCard-resume-header-subtitle {
      font-family: "Neutra Text";
      color: #000;
      font-size: 1.5em;
    }
  }
  .card-creditCard-resume-content {
    font-family: "Helvetica Neue LT Std";
    font-weight: normal;
    font-style: normal;
    // background-color: #fff;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    overflow-y: overlay;
    /*     height: 20.5em; */
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    .card-creditCard-resume-grid {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-top: 10px;
      padding: 0;
      ion-item {
        --background: #fff;
        ion-label {
          font-size: 1.1em;
        }
        ion-text {
          font-size: 1.1em;
        }
      }
      .card-creditCard-resume-grid-premium-label {
        text-align: center;
      }
      .premium-button-holder {
        @media only screen and (max-height: 740px) {
          padding-top: 6em;
        }
        .premium-button-div {
          display: flex;
          justify-content: center;
          align-items: center;

          ion-button {
            width: 65%;
            font-size: 1em;
            height: 100%;
            --padding-bottom: 10px;
            --padding-end: 10px;
            --padding-start: 10px;
            --padding-top: 10px;
            &.becomePremium {
            }
            &.releaseFromPremium {
            }
          }
        }
      }
    }
  }
}

.backdrop {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
  }
}
.modal-price {
  border-radius: 5%;
  position: absolute;
  top: 0;
  z-index: 9;
  span {
    font-size: 1.2em;
  }
  .modal-price-header {
    background-color: #6974e4;
    text-align: center;
    .modal-price-header-text {
      color: #fff;
    }
  }
  .modal-price-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    ul {
      margin: 0;
      padding-left: 20px;
    }
  }
  .modal-price-footer {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
  }
}


.user-box-container{
  display: flex;
  justify-content: center;
  margin-top: 65px;
  .user-box{
    display: flex;
    flex-direction: column;
    .user-box-name{
      color: #fff;
      @include roboto();
          font-size: 1.1em;
    }
    .user-box-email{
      color: #fff;
      @include roboto();
          font-size: 1.1em;
          
    }
    .user-box-premium{
      color: #fff;
      @include roboto();
          font-size: 1.1em;
    }
    .user-box-button{
      color: #d96963;
      @include roboto();
      --background: #f8f8f8;
    }
  }
}
