.toast-success {
    --background:linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
/*     --border-color: var(--ion-color-success-shade);
    --border-style: none none none solid;
    --border-width: 8px; */
    text-align: center;
    //--color: #d2d2d2;
}


//  .toast-danger {
//     --background: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
//   /*    --border-color: var(--ion-color-danger-shade);
//      --border-style: none none none solid;
//      --border-width: 8px; */
//      text-align: center;
//  }

/*  background-color: #fce043;
background-image:  */
