

@mixin centerAll {
    display: flex;
    align-items: center;
    justify-content: center;
}




@mixin rowdies($isLight: false, $isBold: false, $isBlack: false) {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    @if $isBold {
        font-weight: 600 !important;
    }
    @if $isBlack {
        font-weight: 900 !important;
    }
}


@mixin roboto($isLight: false, $isBold: false, $isBlack: false, $isItalic: false) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    @if $isLight {
        font-weight: 300 !important;
    }
    @if $isBold {
        font-weight: 700 !important;
    }
    @if $isBlack {
        font-weight: 900 !important;
    }
    @if $isItalic {
        font-style: italic !important;
    }
  }