@import "../../scss/mixins";
ion-content {
  &.videoOnly {
    --background: transparent;
  }
}

.modal-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  background-color: #ddd;
  .modal-card-header-text {
    font-size: 1.1em;
  }
  .modal-card-header-btn {
    display: flex;
    justify-content: flex-end;
  }
}

.modal-card-container {
  padding: 1em;
  .modal-card-previewHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-card-previewHolder-videoUrl {
      width: 100%;
      height: 200px;
      border-radius: 20px;
      border-style: none;
      margin-bottom: 1em;
    }
    .modal-card-previewHolder-icon {
      position: absolute;
      font-size: 3em;
      color: red;
    }
  }
  .modal-card-header-title{
    color: #fff;
    @include rowdies($isBold:true);
    color: #ffffff;
    font-size: 1.6em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    filter: drop-shadow(-3.464px 2px 0px rgba(0, 0, 0, 0.39));
  }
  
  .modal-card-grid {
    .modal-card-grid-objectives {
      font-size: 1.3rem;
      .modal-card-grid-objectives-title {
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 31px;
        color: #ffffff;
        display: flex;
        align-items: center;
        .modal-card-grid-objectives-title-icon {
          width: 1.1em;
        }
        .modal-card-grid-objectives-title-text {
          margin-left: 0.2em;
          @include roboto($isBlack: true);
        }
      }
      .modal-card-grid-objectives-list {
        font-size: 0.8em;
        color: #ffffff;
        @include roboto();
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      }
    }
    .modal-card-grid-details {
      display: flex;
      flex-direction: column;
   /*    justify-content: space-between; */
      font-size: 1.1rem;
      .modal-card-grid-details-holder {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 1em;
        .modal-card-grid-details-holder-icon {
          width: 1.6em;
        }
        .modal-card-grid-details-holder-text {
          @include rowdies();
          margin-left: 0.5em;
          color: #fefdfd;
          width: 70%;
        }
      }
    }
    .modal-card-grid-footer {
      color: #ffffff;

    }
  }
  .modal-card-text-container {
    display: flex;
    flex-direction: column;
    .modal-card-text-description {
      color: #fff;
      font-size: 1.1em;
      padding-bottom: 1em;
      display: flex;
      margin-top: 1em;
      align-items: flex-start;
      img {
        width: 20%;
        margin-right: 1em;
      }
      div{
        display: flex;
        flex-direction: column;
        span {
          font-size: 1.05em;
        }
      }
    }
    .modal-card-text-materialList {
      color: #fff;
      font-size: 1.1em;
      display: flex;
      margin-top: 1em;
      align-items: center;
      img {
        width: 20%;
        margin-right: 1em;
      }
      span {
        font-size: 1.05em;
      }
    }
  }
  .modal-card-container-footer {
    text-align: center;
    color: #fff;
    margin-top: 1em;
    .modal-card-container-footer-text {
      font-size: 1em;
    }
  }
}
