<div class="card card-modal-usuarios">
  <div class="card-header {{ headerColor }}" mat-dialog-title>
    <span class="card-header-title" #ModalTitle id="title"> </span>
  </div>
  <div class="card-body" mat-dialog-content>
    <form
      #ModalUsuarioForm="ngForm"
      id="ngForm"
      (ngSubmit)="ModalUsuarioForm.valid && save(ModalUsuarioForm)"
    >
      <div class="p-grid p-justify-between p-align-center">
        <div class="p-col-12 p-md-9">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              [(ngModel)]="modalValues.nome"
                
              matInput
              type="text"
              name="modalCadastro-nome"
              required
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Sexo</mat-label>
            <mat-select [(ngModel)]="modalValues.sexo" name="sexo">
              <mat-option value="Feminino"> Feminino </mat-option>
              <mat-option value="Masculino"> Masculino </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Email principal</mat-label>
            <input
              [(ngModel)]="modalValues.emailPrincipal"
              #ModalValueEmailPrincipal="ngModel"
              matInput
              type="email"
              email
              name="modalCadastro-emailPrincipal"
              required
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Data de Cadastro</mat-label>
            <input
              [(ngModel)]="modalValues.dt_cadastro"
              [matDatepicker]="dt_cadastro"
              #ModalValueDtCadastro="ngModel"
              matInput
              disabled
              name="modalCadastro-dt_cadastro"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dt_cadastro"
            ></mat-datepicker-toggle>
            <mat-datepicker #dt_cadastro></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input
              [(ngModel)]="modalValues.celular"
              #ModalValueCelular="ngModel"
              matInput
              type="text"
              name="modalCadastro-celular"
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Profissão</mat-label>
            <mat-select [(ngModel)]="modalValues.profissao"
            name="ModalValue-Profissao">
            <mat-option *ngFor="let item of profissaoArr"
            [value]="item.value"> {{item.name}} </mat-option>
           <!--  <mat-option value="Arte-Educador(a)"> Arte-Educador(a) </mat-option>
            <mat-option value="Arteterapeuta"> Arteterapeuta </mat-option>
            <mat-option value="Estudante"> Estudante </mat-option>
            <mat-option value="Professor(a)"> Professor(a) </mat-option>
            <mat-option value="Psicólogo(a)"> Psicólogo(a) </mat-option>
            <mat-option value="Outros"> Outros </mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Data de nascimento</mat-label>
            <input
              matInput
              [(ngModel)]="modalValues.dt_nascimento"
              [matDatepicker]="dt_nascimento"
              #ModalValueDtNascimento="ngModel"
              name="modalCadastro-dt_nascimento"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dt_nascimento"
            ></mat-datepicker-toggle>
            <mat-datepicker #dt_nascimento></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Data de ativação</mat-label>
            <input
              matInput
              [(ngModel)]="modalValues.dt_ativacaoPremium"
              [matDatepicker]="dt_ativacaoPremium"
              #ModalValueDtAtivacaoPremium="ngModel"
              name="modalCadastro-dt_ativacaoPremium"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dt_ativacaoPremium"
            ></mat-datepicker-toggle>
            <mat-datepicker #dt_ativacaoPremium></mat-datepicker>
          </mat-form-field>
        </div>
        <!--         <div class="p-col-12">
          <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input
              [(ngModel)]="modalValues.endereco_logradouro"
              #ModalValueEnderecoLogradouro="ngModel"
              matInput
              type="text"
              name="modalCadastro-endereco_logradouro"
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>bairro</mat-label>
            <input
              [(ngModel)]="modalValues.endereco_bairro"
              #ModalValueEnderecoBairro="ngModel"
              matInput
              type="text"
              name="modalCadastro-endereco_bairro"
            />
          </mat-form-field>
        </div> -->
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input
              [(ngModel)]="modalValues.endereco_cidade"
              #ModalValueEnderecoCidade="ngModel"
              matInput
              type="text"
              name="modalCadastro-endereco_cidade"
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input
              [(ngModel)]="modalValues.endereco_uf"
              #ModalValueEnderecoCidade="ngModel"
              matInput
              type="text"
              name="modalCadastro-endereco_uf"
            />
          </mat-form-field>
        </div>
        <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>País</mat-label>
            <input
              [(ngModel)]="modalValues.endereco_pais"
              #ModalValueEnderecoPais="ngModel"
              matInput
              type="text"
              name="modalCadastro-endereco_pais"
            />
          </mat-form-field>
        </div>
        <!--         <div class="p-col-12 p-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Cep</mat-label>
            <input
              [(ngModel)]="modalValues.endereco_cep"
              #ModalValueEnderecoCep="ngModel"
              matInput
              type="text"
              name="modalCadastro-endereco_cep"
            />
          </mat-form-field>
        </div> -->
        <div class="p-col-12 p-md-9">
          <mat-form-field appearance="outline">
            <mat-label>Observacoes</mat-label>
            <textarea
              [(ngModel)]="modalValues.observacoes"
              #ModalValueObservacoes="ngModel"
              matInput
              type="text"
              name="modalCadastro-observacoes"
            >
            </textarea>
          </mat-form-field>
        </div>
        <div class="p-col-12">
          <mat-slide-toggle [(ngModel)]="modalValues.podeEnviarNotificacao"
          name="modalCadastro-podeEnviarNotificacao" required>
            Este usuario pode receber notificações?
          </mat-slide-toggle>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer" mat-dialog-actions>
    <button mat-raised-button class="btn btn-danger" mat-dialog-close>
      Cancelar
    </button>
    <button mat-raised-button class="btn btn-success" form="ngForm">
      Salvar
    </button>
  </div>
</div>
