::ng-deep .mat-label {
  // color: white;
  font-weight: bold !important;
}
.card {
  margin-bottom: 0px;
  .card-header {
    .card-title {
      // font-weight: bold;
    }
    .card-icons {

      display: flex;
      align-items: center;
      button {
        transition: 500ms;
        font-size: 1.5rem;
        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }
}

.swapGridButton {
  background: #333333;
  color: #fff;
  border-radius: 25px;
  transition: 500ms;
  &:hover {
    background: linear-gradient(
      to right top,
      #a45555,
      #af5168,
      #b55181,
      #b1559e,
      #a060bd,
      #8373d4,
      #5b85e3,
      #0094eb,
      #00a4db,
      #00adb5,
      #20af87,
      #7aad63
    );
    .spin {
      animation-name: spinner;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
  }
}

@keyframes spinner {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

$color_1: #333333;
$font_family_1: "Open Sans", sans-serif;

@keyframes transpose1 {
  0% {
    margin-left: 0px;
    transform: scale(1);
    z-index: 1;
  }
  50% {
    margin-left: 150px;
    transform: scale(1.1);
    z-index: 2;
  }
  100% {
    margin-left: 0px;
    transform: scale(1);
    z-index: 2;
  }
}
@keyframes transpose2 {
  0% {
    margin-left: 0px;
    z-index: 2;
  }
  50% {
    margin-left: -150px;
    z-index: 1;
  }
  100% {
    margin-left: 0px;
    z-index: 1;
  }
}

.changeAbleContentHolder {
  background: transparent;
  .changeableContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 60vh;
    justify-content: center;
    .front {
      position: absolute;
      min-width: 100%;
    }
    .back {
      position: absolute;
      min-width: 100%;
    }
    &.active {
      .front {
        animation-duration: 1s;
        animation-iteration-count: cubic-bezier(0.39, 0.575, 0.565, 1);
        animation-name: transpose1;
        animation-direction: both;
        z-index: 2;
      }
      .back {
        animation-duration: 1s;
        animation-iteration-count: cubic-bezier(0.39, 0.575, 0.565, 1);
        animation-name: transpose2;
        animation-direction: both;
        z-index: 1;
      }
    }
    &.deactivate {
      .front {
        animation-duration: 1s;
        animation-iteration-count: cubic-bezier(0.39, 0.575, 0.565, 1);
        animation-name: transpose2;
        animation-direction: both;
        z-index: 1;
      }
      .back {
        animation-duration: 1s;
        animation-iteration-count: cubic-bezier(0.39, 0.575, 0.565, 1);
        animation-name: transpose1;
        animation-direction: both;
        z-index: 2;
      }
    }
  }
}
.transpose1 {
  animation-duration: 0.3s;
  animation-iteration-count: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-name: transpose1;
  animation-direction: both;
}
.transpose2 {
  animation-duration: 0.3s;
  animation-iteration-count: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-name: transpose2;
  animation-direction: both;
}
