<div class="main-content" [@dashboardEnter]="{ value: '', params: { delay: 0 } }">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image src="assets/images/logo.png" alt="Logo">
    <mat-card-content>
      <p>
        Arte Conecta - Módulo de administração
      </p>
    </mat-card-content>
  </mat-card>
</div>
