<!-- <ion-header >
  <ion-toolbar color="arteconecta-default">
    <ion-buttons slot="start">
      <ion-menu-button color="arteconecta-default"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajuda e FeedBack</ion-title>
  </ion-toolbar>
</ion-header>
 -->

<app-header
  nomeDaPagina="Ajuda e FeedBack"
  (TabChange)="getSelectedTab($event)"
  [isAtHome]="activate"
></app-header>
<ion-content>
  <div class="helpHolder">
    <form #FeedBack="ngForm" id="FeedBack" (ngSubmit)="sendHelp(FeedBack)">
      <ion-item lines="none">
        <ion-textarea
          autoGrow="true"
          placeholder="Escreva sua sugestão ou dúvida"
          required
          name="help-textarea"
          [(ngModel)]="helpText"
        >
        </ion-textarea>
      </ion-item>
      <ion-button color="arteconecta-default" 
      [disabled]="FeedBack.invalid"
      class="sendButton" type="submit">
        Enviar
      </ion-button>
      <ion-button color="arteconecta-default" class="user-box-button" (click)="navCtrl.navigateRoot('/home')">
        Voltar
      </ion-button>
    </form>
  </div>
</ion-content>
