@import "../../scss/mixins";

.helpHolder {
//  height: 100%;
  width: 100%;
/*   display: flex;
  flex-direction: column;
  justify-content: space-between; */

  @include centerAll;
  align-items: flex-start;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-item {
      width: 85%;
      margin-top: 50px;
      --background: transparent;
      ion-label {
        --color: unset;
        z-index: 3;
      }
      ion-textarea {
        margin: 0;
        height: 25vh;
        @include roboto();
        --background: #f8f8f8;
        border-radius: 8px;
        --color: #da6c66;
        transition: 300ms;
        text-align: center;
        &:focus {
          margin-top: 16px;
        }
      }
    }
    .sendButton {
      @include roboto();
    }
  }

}
