<ion-tabs>
  <ion-tab-bar slot="bottom" color="arteconecta-default">
    <ion-tab-button
      *ngFor="let item of arrButton"
      [selected]="item.selected"
      (click)="test(item)"
      [style.color]="item.color"
    >
      <ion-icon [name]="item.icon"></ion-icon>
      <ion-label>{{ item.name }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
