.card-creditCard-register {
  --background: transparent;
  transition: 500ms;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  .card-creditCard-register-header {
/*     display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .card-creditCard-register-displayer {
      transform: scale(0.64);
    }
  }
  .card-creditCard-register-form {
    .card-creditCard-register-grid {
      .card-creditCard-register-inputs {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        border-color: #525252;
      }
    }
  }
}


