<ion-header mode="md">
  <ion-toolbar
    class="ion-text-center"
  >
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>
      Torne-se premium
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card class="card-creditCard-register" [ngStyle]="backgroundColorCard">
    <ion-card-header class="card-creditCard-register-header">
      <ion-card-title color="light">Inclua o cartão de credito</ion-card-title>
      <ion-card-subtitle color="light"
        >Para se tornar um usuario premium, insira logo abaixo um cartão de
        credito para efeutar o pagamento da mensalidade</ion-card-subtitle
      >
      <div class="card-container card-creditCard-register-displayer"></div>
    </ion-card-header>
    <ion-card-content>
      <form
        class="card-creditCard-register-form"
        card
        container=".card-container"
        card-width="500"
        [messages]="messages"
        [placeholders]="placeholders"
        formatting="false"
        debug="true"
        id="ngForm"
        #CrediCardForm="ngForm"
        (ngSubmit)=" makePayment(CrediCardForm)">
        <!-- CrediCardForm.form.valid && -->
        <div class="p-grid p-justify-between card-creditCard-register-grid">
          <div class="p-col-12">
            <input
              class="card-creditCard-register-inputs"
              placeholder="Numero do Cartão"
              type="text"
              name="number"
              [(ngModel)]="creditCard.number"
              (ngModelChange)="onCreditCardChange()"
              card-number
              required
            />
          </div>
          <div class="p-col-12">
            <input
              class="card-creditCard-register-inputs"
              placeholder="Nome no Cartão"
              type="text"
              name="first-name"
              [(ngModel)]="creditCard.name"
              card-name
              required
            />
          </div>
          <div class="p-col-5">
            <input
              class="card-creditCard-register-inputs"
              placeholder="Validade do cartão"
              type="text"
              name="expiry"
              [(ngModel)]="customExpiry"
              card-expiry
              required
            />
          </div>
          <div class="p-col-5">
            <input
              class="card-creditCard-register-inputs"
              placeholder="CVC"
              type="text"
              name="cvc"
              [(ngModel)]="creditCard.cvc"
              card-cvc
              required
            />
          </div>
        </div>
      </form>
    </ion-card-content>
    <ion-button type="submit" form="ngForm" (click)="CrediCardForm.ngSubmit.emit()" expand="block">Prosseguir</ion-button>
  </ion-card>
</ion-content>