<ion-content>
  <div class="login-holder">
    <ion-img src="assets/logo.png" class="login-holder-img"></ion-img>
    <form
      #LoginForm="ngForm"
      class="login-holder-form"
      (ngSubmit)="LoginForm.form.valid && login()"
    >
      <ion-item class="login-holder-form-email">
        <ion-label position="floating">
          Email
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          type="email"
          [(ngModel)]="loginObj.email"
          name="email"
          #LoginObjEmail="ngModel"
          email
          required
        ></ion-input>
      </ion-item>
      <ion-item class="login-holder-form-password">
        <ion-label position="floating">
          Senha
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          [type]="isPasswordType ? 'text': 'password'"
          [(ngModel)]="loginObj.password"
          name="password"
          #LoginObjPassword="ngModel"
          required
        ></ion-input>
      </ion-item>
      <ion-button type="submit" shape="round" expand="block" [disabled]="!LoginForm.valid">
        Entrar
      </ion-button>
    </form>
    <ion-item lines="none" class="save-user" (click)="resetPassword()" >
      <ion-label color="primary">Esqueceu a senha?</ion-label>
    </ion-item>
    <div class="login-holder-fab">
      <ion-button
        (click)="login(item.id)"
        expand="block"
        shape="round"
        class="login-holder-fab-button"
        [class.facebook]="item.id === 'facebook'"
        [class.google]="item.id === 'google'"
        *ngFor="let item of buttonArr"
      >
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        {{item.name}}
      </ion-button>

    </div>
  </div>
</ion-content>