<div
  class="main-content"
  [@adminUsuarioEnter]="{ value: '', params: { delay: 0 } }"
>
  <div class="container-fluid">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3 class="card-title">Lista de usuarios de Admin</h3>

            <div class="buttons-control">
              <button
              mat-raised-button
              class="btn btn-info"
              (click)="mudarSenha()"
              [disabled]="!allowEdit"
            >
              Mudar Senha de usuario
            </button>
              <button
                mat-raised-button
                class="btn btn-success"
                (click)="addNewItem()"
              >
                <i class="material-icons">add</i>
              </button>
              <button
                mat-raised-button
                class="btn btn-danger"
                (click)="deleteItem()"
                [disabled]="!(selectedRows.length > 0)"
              >
                <i class="material-icons">remove</i>
              </button>
              <button
                mat-raised-button
                class="btn btn-warning"
                (click)="editItem()"
                [disabled]="!allowEdit"
              >
                <i class="material-icons">edit</i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <mat-form-field appearance="outline">
              <mat-label>Digite algo para pesquisar</mat-label>
              <input
                [(ngModel)]="filtro"
                name="header-search"
                type="search"
                matInput
              />
            </mat-form-field>
            <app-grid
              [gridData]="AdminUsuarioArr"
              [columnDefs]="createColumnDefs"
              [colunasFiltraveis]="colunasFiltraveis"
              [filtro]="filtro"
              (GridSelectedRow)="onGridSelectedRow($event)"
              (GridDobleClick)="onGridDobleClick($event)"
            ></app-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
