<ion-header class="ion-text-center">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar conta</ion-title>
    <ion-buttons slot="end" style="opacity: 0;">
      <ion-back-button disabled></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="registerPage">
  <form
    class="registerPage-form"
    #RegisterForm="ngForm"
    id="RegisterForm"
    name="RegisterForm"
    [mustMatch]="['RegisterFormSenha', 'RegisterFormConfirmarSenha']"
    (ngSubmit)="RegisterForm.form.valid && onRegister()"
  >
    <div class="registerPage-form-email">
      <ion-item class="registerPage-form-input">
        <ion-label position="floating">
          E-Mail
          <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          #RegisterFormEmail="ngModel"
          [(ngModel)]="userObj.email"
          name="RegisterFormEmail"
          required
          email
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item
        class="registerPage-form-onError"
        *ngIf="RegisterForm.submitted && RegisterFormEmail.invalid"
        lines="none"
      >
        <ion-text *ngIf="RegisterFormEmail.errors.required" color="danger">
          campo obrigatório
        </ion-text>
        <ion-text *ngIf="RegisterFormEmail.errors.email" color="danger">
          Por favor, insira um email valido
        </ion-text>
      </ion-item>
    </div>

    <div class="registerPage-form-password">
      <ion-item class="registerPage-form-input">
        <ion-label position="floating"
          >Senha <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input
          #RegisterFormSenha="ngModel"
          [(ngModel)]="userObj.password"
          name="RegisterFormSenha"
          required
          type="password"
          minlength="6"
        >
        </ion-input>
      </ion-item>
      <ion-item
        class="registerPage-form-onError"
        *ngIf="RegisterForm.submitted && RegisterFormSenha.invalid"
        lines="none"
      >
        <ion-text *ngIf="RegisterFormSenha.errors.required" color="danger">
          Campo obrigatório
        </ion-text>
        <ion-text *ngIf="RegisterFormSenha.errors.minlength" color="danger">
          A senha precisa ter 6 caracteres no minimo
        </ion-text>
      </ion-item>
    </div>

    <div class="registerPage-form-confirm-password">
      <ion-item class="registerPage-form-input">
        <ion-label position="floating"
          >Confirmar Senha <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input
          #RegisterFormConfirmarSenha="ngModel"
          [(ngModel)]="userObj.confirmPassword"
          name="RegisterFormConfirmarSenha"
          required
          type="password"
        ></ion-input>
      </ion-item>
      <ion-item
        class="registerPage-form-onError"
        *ngIf="RegisterForm.submitted && RegisterFormConfirmarSenha.invalid"
        lines="none"
      >
        <ion-text
          *ngIf="RegisterFormConfirmarSenha.errors.required"
          color="danger"
        >
          campo obrigatório
        </ion-text>
        <ion-text
          *ngIf="RegisterFormConfirmarSenha.errors.mustMatch"
          color="danger"
        >
          As senhas precisam ser iguais
        </ion-text>
      </ion-item>
    </div>
    <ion-item class="registerPage-form-acceptTerms"  lines="none" >
      <ion-checkbox 
      #RegisterFormAceitaTermos="ngModel"
      [(ngModel)]="aceitaTermos" 
      name="aceitaTermos" 
      required
      ></ion-checkbox>
      <ion-label>Aceito os 
      
      <a href="https://www.arteacaobrasil.com.br/app/termosecondicoes.html">
      [Termos e Condições de Uso]</a>
        
      </ion-label>
    </ion-item>
    <div class="registerPage-form-button-holder">
      <ion-button
        class="registerPage-form-button-submit"
        expand="block"
        shape="round"
        color="danger"
        (click)="cancelar()"
      >
        Cancelar
      </ion-button>
      <ion-button
      class="registerPage-form-button-submit"
      expand="block"
      shape="round"
      color="primary"
      [disabled]="isFormValid(RegisterForm)"
      type="submit"
      >
      Criar conta
    </ion-button>
    </div>
  </form>
</ion-content>