.header {
  --background: var(--ion-color-arteconecta-blue);
  --color: #fff;
}
.footer {
}
.registerPage {
  --background: #d2d2d2;
  width: 100%;
  height: 100%;
  .registerPage-form {
    width: 100%;
    min-height: 18rem;
    padding: 1em;
    .registerPage-form-email {
      border-radius: 85%;
      margin-bottom: 0.5em;
    }
    .registerPage-form-password {
      border-radius: 85%;
      margin-bottom: 0.5em;
    }
    .registerPage-form-confirm-password {
      border-radius: 85%;
      margin-bottom: 0.5em;
    }
    .registerPage-form-input {
      //  box-shadow: 6px 6px 20px 5px;
      border-radius: 30px;
    }

    .registerPage-form-acceptTerms {
      --background: transparent;
      --color: #ffffff;
      --inner-padding-end: 4px;
      --padding-start: 4px;
      ion-label {
        margin-left: 5px;
      }
    }
    .registerPage-form-button-holder {
      display: flex;
      justify-content: center;
      .registerPage-form-button-submit {
        height: 4em;
      }
    }
    .registerPage-form-onError {
      height: 1em;
      --background: transparent;
      display: flex;
      align-items: center;
    }
  }
}
