<app-header nomeDaPagina="Sobre o Arte Conecta"></app-header>

<ion-content>
  <ion-text color="light">
    <div class="text-holder">
      <p class="about-text">
        O nosso propósito é a ampliação do olhar, fortalecimento das identidades
        e o potencial cognitivo através da arte.
      </p>
      <p class="special-text">
        "Sensibilizar não fragiliza, ao contrário, fortalece os indivíduos para
        se envolverem verdadeiramente com o conhecimento, a ética e a
        cidadania."
      </p>
      <span class="citacao">
        Helio Rodrigues
      </span>
      <span class="website">
        www.arteacaobrasil.com.br
      </span>
    </div>
    <ion-button color="arteconecta-default" class="user-box-button" (click)="navCtrl.navigateRoot('/home')">
      Voltar
    </ion-button>
    <div class="footer">
      <span>
        [versão 0.0.10] 
      </span>
      <span>
        @2020 Arte ação Brasil. Todos direitos reservados
      </span>
    </div>
  </ion-text>
</ion-content>
